/* UNIVERSAL */
body {
    overflow-x: hidden;
}

section {
    height: 100vh;
}

h1, h2, h3 {
    font-family: inter, sans-serif;
    color: #F2385A;
}

a, p{
    font-family: Mukta, sans-serif;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

.btn {
    border-color: white;
    color: white
}

.btn:hover {
    border-color: #7580BF;
    color: #7580BF;
}

.row {
    padding-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
}

.disabled {
    color: gray;
}

table, .table {
    max-width: 100%;
}

.container {
    padding-bottom: 5%;
}

/* PARALAX */


body, html {
    height: 100vh;
}
  
.parallax-container {
background-image: url("../assets/images/background.jpg");

height: 100vh;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* HEADER */
header {
    width: 100vw;
    height: 100vh;
}

#header-container {
    align-self: center;
}

#hero-col {
    flex-shrink: inherit;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#hero-txt {
    color: white;
    font-size: 350%;
}

/* ABOUT ME */
#about-me {
    min-height: 100vh;
    height: fit-content;
    display: flex;
}

.accordion {
    margin-bottom: 10%;
}

.accordion-body {
    max-width: 100%;
}

.accordion-btn {
    color:#F2385A;
}

.accordion-btn:hover {
    border-color: #7580BF;
    color: #7580BF;
}

/* PROJECTS */

#projects {
    background-color: #F24130;
    height: fit-content;
}

#projects-title {
    color:white;
}

.projects-card-title {
    color: #F24130;
}

.projects-card-btn, .accordion-btn {
    color: #F24130;
    border-color: #F24130;
}

.card{
    margin-bottom: 5%;
}

.card-img-top {
    max-height: 61%;
}