/* UNIVERSAL */
body {
    overflow-x: hidden;
}

section {
    height: 100vh;
}

h1, h2, h3 {
    font-family: inter, sans-serif;
    color: black;
}

a, p{
    font-family: Mukta, sans-serif;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

.btn {
    border-color: white;
    color: white
}

.btn:hover {
    border-color: #7580BF;
    color: #7580BF;
}

.row {
    padding-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
}

.disabled {
    color: gray;
}

table, .table {
    max-width: 100%;
}

.container {
    padding-bottom: 5%;
}

/* PARALAX */


body, html {
    height: 100vh;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* HEADER */
header {

    background-color: black;
}

#header-container {
    align-self: center;
    background-color: black;
    height: 59em;
}

#hero-col {
    align-items: center;
    justify-content: space-around;
}

#hero-txt{
    color: white;
    font-size: 4em;
}

#header-text {
    color: white;
    font-family: 'Kode Mono', monospace;
    font-size: 2.5em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.job-titles {
    padding: 5%;
    height: 10em;
    text-wrap: none;
}

/* ABOUT ME */
#about-me {
    min-height: 100vh;
    height: fit-content;
    display: flex;
}

.accordion {
    margin-bottom: 10%;
}

.accordion-body {
    max-width: 100%;
}

.accordion-btn {
    color:black;
}

.accordion-btn:hover {
    border-color: #a1a1a1;
    color: #a1a1a1;
}

/* PROJECTS */

#projects {
    background-color: black;
    height: fit-content;
}

#projects-title {
    color: white;
}

.projects-card-title {
    color: black;
}

.projects-card-btn, .accordion-btn {
    color: black;
    border-color: black;
}

.project-item {
    margin-right: auto;
}

.card{
    margin-bottom: 5%;
    height: 25em;
    width: 15em;

}

.card-text {
    color: rgb(155, 155, 155);
    font-weight: 200;
}

.card-footer {
    height: 4em;
    justify-self: center;
}

.card-img-top {
    max-height: 61%;
}

.filter-container {
    margin-bottom: 20px;
}

#tag-filter {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.social-icon, .social-link {
    display: flex;
    max-width: 50px;
    padding-left: 20%;
    padding-right: 20%;

    
}

.social-icon:hover {
    cursor: pointer;
}